<div>
  <h1 class="title">Pets & Procedures</h1>
  <div class="left-container">

      <h2 class="subtitle">Pets</h2>
      <div class="add-button">
        <hr>
        <div class="form-group">
            <input class="name-input" placeholder="Pet Name" type="text" name="Name" [(ngModel)]="petName">
            <input class="species-input" placeholder="Pet Species" type="text" name="Species" [(ngModel)]="species">
        </div>
        <button type="submit" class="add-pet" (click)="addPet()">Add Pet</button>    
      
      </div>
      <div class="pets-grid" *ngFor="let dataItem of PetsList">
        
        <div class="pets-row">
          
          <div class="pet-row-details" (click)="getPetInfo(dataItem)">
            <ul class="petsList">              
              <li>{{dataItem.petName}}: {{dataItem.species}}</li>
              <li><button class="remove-pet-button" (click)="removePet(dataItem)">Delete</button></li>           
            </ul> 
            <div class="proc-grid" *ngFor="let data of ProcList">        
              <div class="proc-row">              
                <div class="proc-row-details">
                  <ul class="procList">              
                    <li>{{data.procName}}: {{data.procDesc}}</li>
                    <li><button class="remove-procedure-button" >Delete</button></li>           
                  </ul>    
                </div>           
              </div>
            </div>  
          </div>       
          

        </div>
      </div>      
  </div>

  <div class="right-container">
    <div class="left">
      <label class="desc">Name: {{pet.petName}}     Species: {{pet.species}}</label>
      <button></button>
    </div>
    <div class="right">
      <h2 class="subtitle">Pets</h2>
      <div class="add-button">
        <hr>
        <div class="form-group">
            <input class="name-input" placeholder="Procedure Name" type="text" name="Name" [(ngModel)]="procName">
            <input class="desc-input" placeholder="Procedure Description" type="text" name="Description" [(ngModel)]="procDesc">
        </div>
        <button type="submit" class="add-pet" >Add Procedure</button>    
      
      </div>
      
    </div>
  </div>
</div>
